.display-flex{
    display:flex;
    height: 34px;

}

.padding-top{
    padding-top: 15px;   
}

.text-sizing{
    font-size: 14px;
}


.display-flex input{
    background-color: #eeeeee;
}
.card-header{
    font-size: 13px;
    margin-left: -27px
}
.modal{
    display: none ;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #625c5c;  
}

#PayReqModal  .modal-contents{ 
    transition: all 2s ease-out;
    position: fixed;
    background-color: #f7f7f7;
    margin: 15% auto;
    border: 1px solid #888;
    width: 1001px;
}
#PayReqModal .modal-header{
    background-color:#444444 ;
    color:white;
}
#PayReqModal .period{
    display: flex;
}
.text-positioning {
    margin-right: 15px;
}
.txt-payment span {
    margin: 1px 15px 1px -36px;
}
.text-note {
    margin-right: 19px;
    margin-left: -46px;
}
.input-organization {
    margin-right: 30px;
}
.input-note input{
    background-color: #fff;
}
.input-period {
    margin: 1px 87px 0px -7px;
}
.input-article {
    margin-right: 18px;
}
.stat{
    display: flex;
    margin-left: 86px;
}
.icon{
    border: solid 1px #ced4da;
    border-radius: 0px 6px 6px 0px;  
    height: 34px;
}
.icon-text {
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: -3px;
    position: relative;
    bottom: 25px;
}

.payment-mounth_limits {
    display: flex;
    justify-content: space-evenly;
}

.payment {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px #AAAAAA;
    padding-bottom: 10px;
}
.tax{
    width: 114px;
    height: 34px;
    margin-right: 13px;
    background-color: #eeeeee;
    border-radius: 5px;
}
.btn-close{
    margin-top: 3px;
}
.txt-manual{    
    margin-left: -96px; 
}

.manual-checkbox {
    margin-left: 26px;
}
.monial-text{
    display: flex;
    justify-content: flex-end;
}
.manual-inputs{
    margin-left:-21px;
}

.modal-footers {
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #e9ecef;
    padding: 12px 18px 1px 23px;
}
.manual-input {
  height: 92px;
}
.info-left{
    background-color: #e6e6fa;
}
.info-righit{
    background-color: #eee8aa;
}
